<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springlb.mapper.AdminMapper">
    <insert id="add">
        INSERT INTO admin ( `adminname`, `phone`, `email`,`password`,`id`)
        VALUES (#{adminname},  #{phone}, #{email},#{password},#{id});
    </insert>
    <select id="list" resultType="com.example.springlb.entity.admin">
        select * from admin
    </select>
    <select id="getByid" resultType="com.example.springlb.entity.admin">
        SELECT
            *
        FROM
            `admin`
        WHERE
            id = #{id}
    </select>
    <select id="listByCondition" resultType="com.example.springlb.entity.admin">
        select * from admin
        <where>
            <if test="adminname != null and adminname !=''">
                adminname like concat('%',#{adminname},'%')
            </if>
            <if test="phone != null and phone !=''">
                AND phone like concat('%',#{phone},'%')
            </if>
        </where>
        order by id asc
    </select>
    <select id="login" resultType="com.example.springlb.entity.admin">
        SELECT
            *
        FROM
            admin
        WHERE
            admin.adminname = #{adminname} AND
            admin.password = #{password}
    </select>
    <update id="update">
        UPDATE `admin` SET `adminname` = #{adminname},  `email` = #{email}, `password` = #{password}, `phone` = #{phone} WHERE `id` = #{id};
    </update>
    <delete id="delete">
        DELETE FROM `admin` WHERE `id` = #{id}
    </delete>
</mapper>